table {
  margin: 0 auto;
  display: block;
}
table tr td,
table tr th {
  min-width: 150px;
  padding: 10px;
  text-align: center;
  border: 1px solid black;
}
label {
  display: flex;
  justify-content: start;
  align-items: center;
}
label input {
  width: 20px;
  margin-right: 20px;
  cursor: pointer;
  height: 20px;
}
